modules = ["nodejs-20", "web"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run dev"]

[[ports]]
localPort = 3000
externalPort = 80

[workflows]
runButton = "Dev"

[[workflows.workflow]]
name = "Dev"
author = 41939068
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "HOST=0.0.0.0 npm run dev"
